<h1>Stupid Coaching</h1>

<div class="card">
  <p><%= params[:question] %></p>
  <p class="who-said">-You</p>
</div>

<% if params[:question] == "I am going to work" %>
  <% @answer = "Great!" %>
<% elsif params[:question].end_with?("?") %>
  <% @answer = "Silly question, get dressed and go to work!" %>
<% else %>
  <% @answer = "I don't care, get dressed and go to work!" %>
<% end %>

<div class="card second-card">
  <p><%= @answer %></p>
  <p class="who-said">-Your coach</p>
</div>

<%= link_to "Ask another question", ask_path %>